html {
    background-color: #d1ad80;
    font-family: 'Fugaz One', cursive;
}

button {
    font-family: 'Fugaz One', cursive;
}

section {
    background-color: #d1ad80;
    font-family: 'Fugaz One', cursive;
}
